Содержание прототипа ITT:
    1 Процесс для принятия и сохранения MQTT собщений, который будет их передавать планировщику или сразу передавать в очередь событий

    2 Планировщик должен работать на отдельном процессе, так как должен асинхронно посылать собщения для прерушения процесса ожидания главного симуляционного цикла на повторный запуск обработки сети петри. Причин для посылания собщения может быть как минимум два - получение MQTT или наступление времени для запуска.

    3 Главный симуляционный процесс состоит из двух циклов, один из них вложен в другой.

    Цель первого:
        Ждать на получения собщений от планировщика (наступления времени запуска или принятое MQTT собщение), потом запустить обработку сети петри.
    Цель второго:
        Провести все возможные преходы в сети петри, то есть провести симуляцию саму по себе. Из списка валидованых токенов на переход достаточно взять тот первый. Конец этого цикла значит возврат в первый цикл.


Пометки:
    PDML формат для чтения сериализованой сети Петри из программы RENU можно пока оставить на потом. Достаточно бы было сделать так, что человек будет создавать сеть Петри в RENU так, что код, который должен провестись в snakes будет записан как комментарий.


Условия сдачи:
    Крайний срок - конец января. До начала января должн быть готов прототип симулятора, пока что достаточно его сделать без поддержки "симуляции в реальном времени". То есть сеть петри будет проводить переходы только после получения MQTT. 

    Обязательно надо написать как минимум 10 страниц текста, со структурой документа, отвечающей формуляру дипломки. Некоторые части текста могут быть недоделаны.
